body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

.project-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
}

.project-item h2 {
    font-size: 1.5em;
    color: #007BFF;
}

.project-item p {
    color: #666;
}
